{% extends "base.html" %}

{% block title %}{% endblock %}

{% block extra_assets %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}

{% block content %}
  <div class="the-form">
    <form id="search-form">
      <input id="search-artist" class="label" type="search" placeholder="Search artist..."
        aria-label="Search artist" type="text" autofocus />
    </form>
    <div id="message">&nbsp;</div>
  </div>

  <section class="grid content">
    <!-- Biggie -->
    <div id="the-map"></div>

    <div id="the-placeholder">
      <h4>Search for an artist to get started</h4>
    </div>

    <div id="the-profile-col">
      <!-- Left: artist photo -->
      <div class="pfp-container">
        <img class="artist-pfp" loading="lazy" alt="" />
      </div>
      <!-- Right: artist info -->
      <div>
        <h3 id="p-artist">&nbsp;</h3>
        <div>
          <p>
            <b>Concerts</b>: <span id="p-count">&nbsp;</span>
          </p>
          <p>
            <b>First concert</b>:
            <br>
            <a id="p-first-concert">&nbsp;</a>
            <br>
            <span id="p-first-date">&nbsp;</span>
          </p>
          <p>
            <b>Last concert</b>:
            <br>
            <a id="p-last-concert">&nbsp;</a>
            <br>
            <span id="p-last-date">&nbsp;</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <a href="/about" target="_self">About</a>
  </footer>
{% endblock %}